.item-with-border {
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

.item-with-border:before {
  content: '';
  position: absolute;
  top: 0;
  right: -0.5rem; /* Half of gap-4 */
  height: 100%;
  width: 1px;
  background: hsl(var(--nextui-default));
}
